{% extends 'Home/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="form-container">
        <h1 class="form-title">Créer une Réservation</h1>
        <form method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.seat_count.id_for_label }}">Nombre de sièges</label>
                {{ form.seat_count }}
            </div>

            <div class="form-group">
                <label for="{{ form.Baggage.id_for_label }}">Bagages</label>
                {{ form.Baggage }}
            </div>

            <div class="form-group">
                <label for="{{ form.Payment_Method.id_for_label }}">Méthode de paiement</label>
                {{ form.Payment_Method }}
            </div>

            <button type="submit" class="btn btn-primary btn-submit">Réserver</button>
        </form>
    </div>
</div>
{% endblock %}
