{% extends 'Home/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Mettre à jour la réservation #{{ reservation.id }}</h1>
    
    <form method="POST">
        {% csrf_token %}
        
       
        
        <!-- For custom styling and alignment, use these classes in the form -->
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="form-check">
                    {{ field }} <!-- This renders the checkbox properly aligned with the label -->
                </div>
            </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </form>
    
    <a href="{% url 'home' %}" class="cancel-link btn btn-secondary mt-2">Annuler</a>
</div>
{% endblock %}
