{% extends 'Home/base.html' %}

{% block content %}
{% load static %}
<link href="{% static 'css/carpool.css' %}" rel="stylesheet" />

    <div class="container mt-5">
        <h1 class="carpool-title mb-4">Your Invitations</h1>
        
        <div class="list-group">
            {% for invitation in invitations %}
                <div class="list-group-item group-card d-flex justify-content-between align-items-center p-4">
                    <div>
                        <span class="carpool-title">You have been invited to join the carpool</span> 
                        <strong>"{{ invitation.carpool.name }}"</strong>.
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'respond_to_invitation' invitation.id 'accept' %}" 
                           class="btn btn-custom btn-sm">Accept</a>
                        <a href="{% url 'respond_to_invitation' invitation.id 'decline' %}" 
                           class="btn btn-custom btn-sm">Decline</a>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item bg-light-grey text-center p-4">
                    No invitations found.
                </div>
            {% endfor %}
        </div>
        <div class="mt-4">
            <a href="{% url 'carpool_list' %}" class="btn btn-custom">Back to Carpool List</a>
        </div>
    </div>
{% endblock %}
